.git
.github
.env
.env.*
!.env.example
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
node_modules/
dist
*.log
notes/
dist
.git
.node_modules
rough/
PLANS/
node_modules
dist
.vite
.git
.gitignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
